@{
    ViewBag.Title = "Confirm Contact";
}

<div style="width:70%; border:1px solid silver; padding:40px;text-align:center; margin:auto; margin-top:50px">
	<div style="">Message successfully delivered.</div>
</div>