@{
    ViewBag.Title = "Confirm Contact";
}
@model textdb.Models.MailResult
           
<div style="width:70%; border:1px solid silver; padding:40px;text-align:center; margin:auto; margin-top:50px">
	<div style="">@Model.message</div>
</div>