@{
    ViewBag.Title = "Home Page";
}

<h1>Long River Tai Chi Circle</h1>
<div class="text">
<p>Long River Tai Chi Circle is the school of Wolfe Lowenthal, student of Cheng Man-ch'ing and author of the acclaimed " There are no Secrets" and "Gateway to the Miraculous"</p>
<p>We practice the Professor's 'simplified' 37 posture Yang-style form. The three pillars of our study are Form, Push Hands, and Sword.</p>
</div>

<!--
<div id="quote_content" class="clearfix">

	{- eval query='quote=Quote.random()' -}

	<h1 id="title">{- quote.title -}</h1>
	<p id="text">{- quote.text -}</p>
	<div id="author">{- quote.author -}</div>

</div>
-->
<div id="new_class">

<div id="new_classes">
<h1>New Classes</h1>
<br/>
<h2><strong>Falkirk</strong></h2>
<ul> 
<li>
    <strong>Monday 25th March 2013 from 10am - 11am<br/>Bellsmeadow Scout Hall, Bellsmeadow Rd, Falkirk</strong>
</li>
<li>
    <p id="P1">Phone Gordon on 07852 726668 for more information or use our <a href='/Page/ContactUs?selection=2'>contacts</a> page to send an email or just turn up on the day.&nbsp;&nbsp;
    <span id="map-icon"><a id='fc3' href='javascript:open_map("FalkirkScoutMap","fc1")'>Map</a></span>
</li>
</ul>

<br />

<h2><strong>Stirling</strong></h2>
<ul> 
<li>
    <strong>Wednesday 25th September 2013 from 7pm - 8pm<br/>Beechwood Park Scout Hall,Stirling</strong>
</li>
<li>
    <p id="P1">Phone Neil on 07769 700096 for more information or use our <a href='/Page/ContactUs?selection=1'>contacts</a> page to send an email or just turn up on the day.&nbsp;&nbsp;
    <span id="Span1"><a id='A1' href='javascript:open_map("StirlingMap","sc2")'>Map</a></span>
</li>
</ul>

</div>

</div>