@{
    ViewBag.Title = "Home Page";
}

<h1>Long River Tai Chi Circle</h1>
<div class="text">
<p>Long River Tai Chi Circle is the school of Wolfe Lowenthal, student of Cheng Man-ch'ing and author of the acclaimed " There are no Secrets" and "Gateway to the Miraculous"</p>
<p>We practice the Professor's 'simplified' 37 posture Yang-style form. The three pillars of our study are Form, Push Hands, and Sword.</p>
</div>

<!--
<div id="quote_content" class="clearfix">

	{- eval query='quote=Quote.random()' -}

	<h1 id="title">{- quote.title -}</h1>
	<p id="text">{- quote.text -}</p>
	<div id="author">{- quote.author -}</div>

</div>
-->
<div id="new_class">

<div id="new_classes">
<h1>New Classes</h1>

<h2><strong>Stirling</strong></h2>
<ul>
<li><strong>Wednesday 29th August 2012 from 8 - 9pm<br/>Beechwood Park Scout Hall,Stirling <a href='/Page/ContactUs?ert=0'>contact</a></strong></li>
</ul>
<br/>
<h2><strong>Falkirk</strong></h2>
<ul> 
<li><strong>Thursday 30th August 2012 from 8 - 9pm<br/>The Guide Hall, Booth Place, Pleasance Square Falkirk <a href='/Page/ContactUs?ert=1'>contact</a></strong></li>
</ul>

</div>

</div>