@{
    ViewBag.Title = "Instructors";
}

<div id="main-area">
<div id="blurb"><img src="/jpg/gordon.jpg"/>
Gordon Ewing<br/>
Falkirk Classes<br/>
Gordon@Longrivertaichi.org<br/>
01324 885095
</div>
<div class="clearfix"></div>
<br/>
<div id="blurb"><img src="/jpg/neil.jpg"/>
Neil Gilliland<br/>
Stirling Classes<br/>
neil@no41.co.uk<br/>
07769 700096
</div>
</div>
