<div id="classes">
	<h1>Falkirk Classes</h1>
	<div id="class">
		<div id="day">Monday Morning</div>
		<div id="class-location">Bellsmeadow Scout Hall</div>
		<div id="map-icon"><a id="fc1" class='map-icon' href='javascript:open_map("FalkirkScoutMap","fc1")'><img src='/gif/MapIcon.gif' width='16px'/></a></div>
		<ul id="times">
			<li>10 to 11am - Beginners Form </li>
			<li>11 to 12pm - Advanced Form </li>
			<li>12 to 1pm - Sword Form </li>
		</ul>
	</div>

	<div id="class">
		<div id="day">Tuesday Evening</div>
		<div id="class-location">The Guide Hall, Booth Place</div>
		<div id="map-icon"><a id='fc2' href='javascript:open_map("FalkirkGuideMap","fc2")'><img src='/gif/MapIcon.gif' width='16px'/></a></div>
		<ul id="times">
			<li>7 to 8pm - Advanced Form</li>
			<li>8 to 9pm - Beginners Form</li>
		</ul>
	</div>
	<div id="class">
		<div id="day">Thursday Evening</div>
		<div id="class-location">The Guide Hall, Booth Place</div>
		<div id="map-icon"><a id='fc3' href='javascript:open_map("FalkirkGuideMap","fc3")'><img src='/gif/MapIcon.gif' width='16px'/></a></div>
		<ul id="times">
			<li>7 to 8pm - Sword Form & Fencing</li>
			<li>8 to 9pm - Beginners Form</li>
		</ul>
	</div>

</div>
<div id="classes-gap"></div>
<div id="classes">
	<h1>Stirling Classes</h1>
	<div id="class">
		<div id="day">Wednesday Evening</div>
		<div id="class-location">Beechwood Park Scout Hall</div>
		<div id="map-icon"><a id='sc2' href='javascript:open_map("StirlingMap","sc2")'><img src='/gif/MapIcon.gif' width='16px'/></a></div>
		<ul id="times">
				<li>7pm to 8pm - Beginners Form</li>
				<li>8pm to 9pm - Intermediate Form</li>
		</ul>
	</div>
</div>
