HTML body
{
	background-color:#dddddd;
	margin:0px;
	padding:0px 0px 0px 0px;
	font-family:arial;
}

div#container
{
	position:relative;
	top:0px;
	padding-top:10px;
	text-align:center;
}

div#page-top
{
	top:0px;
	width:775px;
	margin:0px;
	margin:auto;
	height:27px;
	padding:0px;
	font-size:0px;
	background: transparent url(/gif/page_top.gif) no-repeat left top;
}

div#page
{
	text-align:left;
	top:0px;
	width:775px;
	margin:0px;
	margin:auto;
	padding-top:6px;
	background: transparent url(/gif/page_body.gif) repeat-y left top;
}

div#page-bottom
{
	top:0px;
	width:775px;
	margin:0px;
	margin:auto;
	height:27px;
	padding:0px;
	font-size:0px;
	background: transparent url(/gif/page_bottom.gif) no-repeat left top;
}


div#page:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

div#site-head
{
	top:0px;
	margin:0px;
	padding:0px;
}


div#site-body
{
	margin:0px;
	padding-top:20px;
	width:715px;
	margin-left:30px;
}

div#site-logo
{
	padding:0px;
	margin:0px;
	height:136px;
	margin-left:30px;
	background: transparent url(/jpg/banner.jpg) no-repeat top left;
	
}

div#site-menu-bar
{
	padding:0px;
	width:714px;
	height:20px;
	background:#b9aa7e;
	margin-left:30px;
}

div#site-menu
{
	width:300px;
	height:20px;
	background:#b2a379;
	margin-left:208px;
}


span.menu-option
{
	font-family:arial;
	font-size:10pt;
	font-weight:bold;
	color:#dddddd;
	padding-right:10px;
	padding-left:5px;
	border-right: 1px solid #bbbbbb;
}

span.menu-option a
{
	color:#dddddd;
	text-decoration: none
}

span.menu-option a:hover
{
	text-decoration: underline
}

span.menu-option-last a
{
	font-family:arial;
	font-size:10pt;
	font-weight:bold;
	color:#dddddd;
	text-decoration: none
}

span.menu-option-last a:hover
{
	text-decoration: underline
}

div#main-area
{
	float:left;
	width:530px;
}

div#right-info
{
	padding:0px;
	float:right;
	top:0px;
	width:160px;
	height:500px;
}

div#classes-gap
{
	height:10px;
	padding:0px;
	margin:0px;
}

div#classes
{
	padding:0px;
	margin:0px;
}

h1
{
	margin:0px;
	font-family:arial;
	font-size:12pt;
	border-top:1px dotted black;
	border-bottom:1px dotted black;
	padding-top:2px;
	color:#a99761;
}


h2
{
	font-family:arial;
	font-size:8pt;
	padding:0px;
	padding-top:2px;
	margin:0px;
	font-weight:Normal;
	padding-bottom:2px;
}

ul
{
	padding-left: 1em;
	padding-top:0px;
	margin-left:0px;
	padding-bottom:0px;
	margin-bottom: 0px;
}

li
{
	list-style:none;
	font-family:arial;
	font-size:7pt;
	position:relative;
	left:-15px;
}

div#class
{
	font-family:arial;
	font-size:7pt;
}

div#class #class-location
{
	font-size:8pt;
	padding:0px;
	margin-bottom:0px;
	font-style:italic;
	float:left;
}

div#map-icon
{
	float:right;
	position:relative;
	top:-2px;
	right:0px;
}

div#day
{
	font-family:arial;
	font-size:8pt;
	padding:0px;
	padding-top:2px;
	margin:0px;
	font-weight:bold;
}

ul#times
{
	clear:both;
	padding-left:0px;
	padding-top:0px;
	margin-left:0px;
	margin-top:0px;
	padding-bottom:0px;
	margin-bottom: 0px;
	position:relative;
	top:-3px;
}

ul#times li
{
	list-style:none;
	font-family:arial;
	font-size:7pt;
	position:relative;
	left:0px;
}

div#site-footer-gap
{
	clear:both;
	height:20px;
}

div#site-footer
{
	width:725px;
	margin:auto;
	padding-right:20px;
}

div#site-footer-text-left
{
	float:left;
	font-family:arial;
	font-size:10pt;
	color:gray;
	text-align:left
}
div#site-footer-text-right
{
	float:right;
	font-family:arial;
	font-size:10pt;
	color:gray;
	text-align:left
}


div#site-footer a
{
	font-size:9pt;
	color:#gray;
	text-decoration: none;
	padding-right:8px;
}

div#site-footer a:hover
{
	text-decoration: underline
}

div#blurb
{
	font-size:10pt;
	font-family:arial;
	padding:10px;
	margin:10px;
}

div#blurb img
{
	float:left;
	height:120px;
	margin:5px;
	border:4px solid silver;
}


.clearfix:after
{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.text
{
	font-size:10pt;
	font-weight:normal;
	font-family:arial;
	margin-bottom:10px;
}

h3
{
	font-weight:bold;
	font-size:12pt;
	margin:0px;
	
}